<mat-toolbar  color="primary">
  <span style="margin-right: 1em ">{{title}} </span>
  <span></span>
  <button mat-raised-button (click)="afficherRegles()">Règles</button>
  <span class="fill-remaining-space"></span>
  <label style="margin-right: 1em"> Vous êtes plutôt ? </label>
  <mat-radio-group [(ngModel)]="typeCarte">
    <mat-radio-button (select)="true" value="Souris">
      Souris
    </mat-radio-button>
    <mat-radio-button value="SuperHeros">
      Super Héros
    </mat-radio-button>
  </mat-radio-group>
</mat-toolbar>

<app-plateau [typeCarte]="typeCarte"></app-plateau>
<router-outlet></router-outlet>

