<section style="margin:3em">
  <label>Vous êtes plutôt ? </label>
  <mat-radio-group [(ngModel)]="typeCarte">
    <mat-radio-button (select)="true" value="Souris">
      Souris
    </mat-radio-button>
    <mat-radio-button value="SuperHeros">
      Super Héros
    </mat-radio-button>
  </mat-radio-group>

  <button (click)="NouvellePartie()" aria-label="Nouveau tirage" color="primary" mat-fab style="float: right">
    <mat-icon>refresh</mat-icon>
  </button>
</section>
<section style="margin: 3em">
  <p>Suite à la situation exposée par le <strong>Maître des émotions</strong>, sélectionnez parmis vos cartes <strong>Votes</strong>
    le numéro qui correspond le mieux à la réaction émotionnelle que vous ressentez (ou que vous ressentiriez) dans la
    situation évoquée.</p>
</section>
<mat-grid-list cols="4" gutterSize="1em" rowHeight="20em">
  <mat-grid-tile *ngFor="let emotion of emotions">
    <mat-card class="card">
      <mat-card-content>

        <img alt="{{emotion.Nom}}" mat-card-lg-image
             src="{{'./assets/illustration/'+typeCarte+'/'+emotion.Nom+'.png'}}"></mat-card-content>
      <mat-card-actions>
        <button (click)="Retirer(emotion)" color="warn" mat-button>Retirer</button>
      </mat-card-actions>

    </mat-card>

  </mat-grid-tile>
</mat-grid-list>


